<!DOCTYPE ejs>
<html lang="en">
<head>
</head>

<body class="container">

<header>
  <h1>Resultaten</h1>
</header>

<main>
    <h2> Autos:</h2>
    <% if(auto[0]){
        for (auto of auto) { %>
            <ul> 
                <li>
                    <%= auto.merk %> 
                    <%= auto.prijs %> 
                    <%= auto.type %>                   
                    <%= auto.brandstof %> 
                    <%= auto.bouwjaar %> 
                    <%= auto.kilometers %> 
                    <%= auto.kleur %> 
                    <%= auto.carrosserie %> 
                    <%= auto.velgen %> 
                    <img src="images/auto<%= auto.afbeelding %>">
                </li>
                
            </ul>
        <% } %>
               
    <% } else {%>  
        <p>No auto found &#128531;</p>
    <% } %>

</main>

<footer>
</footer>

</body>
</html>

"prijs": 20000,
"merk": "Mercedes",
"type": "personenauto",
"brandstof": "benzine",
"Bouwjaar": 2023,
"kilometers": 10000,
"kleur":"blauw",
"carrosserie":"coupe",
"velgen":"sport",
"afbeelding":"/mercedes-2023-coupe-blauw"